

<section class="page-form-ele page" ng-controller="UserDetailCtrl">


    <div class="row ui-section"  >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">停车场详情</h2> </div>
        <div class="col-md-8 clearfix"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div>
        </div>
        <div class="col-md-12" >
            <div class="row">
                        <div class="col-md-2"></div>
                         <div class="col-md-4">
                            <!-- <a href="#/user/user-change?userId={{user.userId}}" class="btn btn-primary">钱包</a> -->
                        </div>

                    </div>
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row user-detail" >
                        <div class="col-lg-8 col-lg-offset-2" class="videoBg">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm" class="userForm">

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">名称：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="userName" ng-model="parking.name">
                                            </div>
                                        </div>

                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">地址：</label>
                                            <div class="col-sm-3">
                                                <select ng-model="parking.provinceId" ng-change="getCity(provinceId)" ng-options="province.provinceCode as province.provinceName for province in provinces">
                                                </select>
                                            </div>

                                            <div class="col-sm-3">
                                                <select ng-model="cityId" ng-change="getArea(cityId)">
                                                    <option value="">请选择</option>
                                                    <option value="{{city.cityCode}}" ng-repeat="city in cities">{{city.cityName}}</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-3">
                                                <select ng-model="areaId" ng-options="areaId as area.areaCode for area in areas">
                                                    
                                                </select>
                                            </div>
                                        </div> -->

                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">图片：</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="bannerFile" ng-model="banner.file" accept="image/*" multiple ng-submit="doUploadPhoto()" onchange="angular.element(this).scope().doUploadPhoto(this)">
                                                <ul class="img-list"  style="height: 100px;"> </ul>
                                            </div>
                                        </div>
 -->
                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">编号：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="userPsd" ng-model="parking.number" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">电话：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="userPsd" ng-model="parking.mobile">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">经营人：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="userPsd" ng-model="parking.operator">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">登录密码：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="userPsd" ng-model="parking.password">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">每分钟多少钱：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="userPsd" ng-model="parking.money">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">网址：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="userPsd" ng-model="parking.webSite">
                                            </div>
                                        </div>

                                         <div layout layout-sm='column' class="changeConfirm add-btn">
                                            <md-button class="md-raised btn-w-md md-primary" ng-click="getJson()">确定修改</md-button><div class="divider"></div>
                                        </div>

                                    </form>

                                    <!-- <div>
                                        
                                        <div class="row">
                                            <div class="col-md-10 col-xs-10">
                                                <table class="table table-striped">
  <caption>他完成的任务</caption>
  <thead>
    <tr>
      <th><div class="th">任务Id</div></th>
      <th><div class="th">完成时间</div></th>
      <th><div class="th">奖励</div></th>
      <th><div class="th">状态</div></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="u in tasks">
      <td>{{u.taskId}}</td>
      <td>{{u.createDate}}</td>
      <td>{{u.money}}</td>
      <td>
          <p ng-if="u.status==1">已发放</p>
          <p ng-if="u.status==2">待发放</p>
      </td>
      
    </tr>
  </tbody>

</table>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </section>  

        </div> -->
       <!--  <video class="myVideoBig" ng-if="videoBig" ng-src="{{videoUrl(user.approveVideoUrl)}}"  controls="controls"  width="50%" height="60%">
        </video> -->
<!--         <a class="closeVideo" ng-if="videoBig" ng-click = "closeVideo()">关闭</a> -->
    </div>
</section>
