

<section class="page-form-ele page" ng-controller="ExpertAddCtrl">


    <div class="row ui-section" ng-controller="ExpertAddCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">添加优惠券</h2> </div>
        <div class="col-md-8 clearfix"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row expert-detail" >
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="expertForm" class="expertForm">
                                    

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">优惠券类型：</label>
                                            <div class="col-sm-9">
                                                <select name="status" ng-model="type">
                                                    <option value="1">通用</option>
                                                    <option value="2">指定停车场</option>
                                                </select>
                                            </div>
                                        </div>



                                       <div class="form-group clearfix" ng-show="type==2">
                                            <label for="" class="col-sm-3 control-label">停车场Id</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="expertName" ng-model="parkingId">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">满减类型：</label>
                                            <div class="col-sm-9">
                                                <select name="status" ng-model="status">
                                                    <option value="1">满减</option>
                                                    <option value="-1">无门槛</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group clearfix" ng-show="status==1">
                                            <label for="" class="col-sm-3 control-label">满多少：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="expertName" ng-model="full">
                                            </div>
                                        </div>



                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">减少的钱：</label>
                                            <div class="col-sm-9">
                                                <!-- <input class="form-control" class="expertPsd" ng-model="expert.mobile"> -->
                                               <input class="form-control" class="expertName" ng-model="money">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">优惠券总数：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="expertName" ng-model="total">
                                            </div>
                                        </div>

                                         <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">停车时间：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="expertName" ng-model="interval">
                                            </div>
                                        </div>
                                        
                                        <div layout layout-sm='column' class="changeConfirm add-btn">
                                            <md-button class="md-raised btn-w-md md-primary" ng-click="addExpert()">确定添加</md-button><div class="divider"></div>
                                        </div>
                                    
                                    </form>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
